<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Upload Pic to Love Whatsapp Status Server</title>
    </head>
    <body>
        <form
            action="/upload/post-image"
            method="post"
            enctype="multipart/form-data"
        >
            <label>Select File</label>
            <input type="file" name="pic" />
            <button type="submit">Save</button>
        </form>
    </body>
</html>
